body{
  color: #fff;
  background-color: #282a36;
  text-align: center;
}
input{
  background-color: #ffffff00;
  height:20vh;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  border-radius: 4px;
  margin: 4px;
  color: #fff;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.calc-box{
  display: block;
  width: 60vh;
  margin: auto;
}
