body{
  background-color: #282a36;
}
.main{
  display: inline;
  text-align: center;
}
#screen{
  display: inline-block;
  width: 350px;
  height: 100px;
  margin: 10px;
  background-color: #44475a;
  text-align: right;
  color: white;
  size: 40px;
  border-radius: 5px;
  font-size: 2em;
}
#clear{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  background-color: #ff5555;
  border-radius: 5px;
  font-size: 2em;
}
.btn{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #6272a4;
  border-radius: 5px;
  font-size: 2em;
}
#titulo{
  color: white;
  font-size: 3em;
}